<!DOCTYPE html> 
this is what the app looks like. ship it.
<br/>
<a href="/api/parks">parks</a> <br/>
<a href="/api/uv">uv</a> <br/>
<a href="/api/cooling-centres">cooling centres</a> <br/>
<a href="/api/crowd">crowd</a> <br/>
