<!DOCTYPE html> 
this is what the app looks like. ship it.
<br/>
<!-- using anchor elements cuz it's simpler than buttons with onclick, 
 we can style them like buttons n stuff-->
 <a href="/signup">sign up</a> <br/>
 <a href="/login">log in</a> <br/>
 TESTING STUFF <br/>
<a href="/api/parks">parks</a> <br/>
<a href="/api/uv">uv</a> <br/>
<a href="/api/cooling-centres">cooling centres</a> <br/>
<a href="/api/crowd">crowd</a> <br/>