<!DOCTYPE html>
<form>
  Sign up:<br/>
  <input type="text" placeholder="username" name="username" /> <br/>
  <input type="text" placeholder="email" name="email" /> <br/>
  <input type="password" placeholder="password" name="password" /> <br/>
  <button type="submit" method="post" action="/createuser">Submit</button>
</form>
