<!DOCTYPE html>
<form>
  <input type="text" placeholder="username" name="username" />
  <input type="text" placeholder="email" name="email" />
  <input type="password" placeholder="password" name="password" />
  <button type="submit" method="post" action="/createuser">Submit</button>
</form>
