<style>
  .popup {
    position: fixed;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 25vw;
    height: 25vh;
    z-index: 2;
    text-align: center;
    align-content: center;
  }

  .popupBackground {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    opacity: 0.5;
  }
</style>

<% if(showTutorial) { %>
<div class="popupBackground"></div>
<div class="popup">
  This is a popup.<br/>
  <button onclick="disablePopup()">close popup</button>
  </div>
<% } %>

<script>
  function disablePopup() {
    document.querySelector(".popupBackground").style.display = 'none';
    document.querySelector(".popup").style.display = 'none';
    console.log("hello");
  }
</script>