<% if(showTutorial) { %>
<div class="popupBackground"></div>
<div class="popup">
  <div class="popupHeader">
    Welcome
  </div><br/>
  <div class="popupText">
    This app helps you find shade in the city.
  </div><br/>
  <button class="popupbutton">Next</button>
  </div>
<% } %>