<div class="absolute z-[9998] top-6 right-6">
  <button id="info-btn" class="rounded-full" style="width: 50px; height: 50px">
    <img src="/img/info.svg" alt="Info" />
  </button>
  <div id="info-popup">
    <h2 class="pb-2">UV Index</h2>
    <ul class="rounded-xl overflow-hidden">
      <li class="bg-[#00cc00] text-white p-2">0–2: Low</li>
      <li class="bg-[#ffcc00] text-white p-2">3–5: Moderate</li>
      <li class="bg-[#ff6600] text-white p-2">6–7: High</li>
      <li class="bg-[#cc0000] text-white p-2">8–10: Very High</li>
      <li class="bg-[#660066] text-white p-2">11+: Extreme</li>
    </ul>
  </div>
</div>
