<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ADD CSS HERE -->
    <link rel="icon" href="/img/logo.svg" type="image/svg" />
    <title>CoolSpot</title>
    <!-- Load Scripts and Components -->
    <link rel="stylesheet" href="/components/switch-style.css" />
    <script defer src="/components/switch.js"></script>
    <script defer src="/components/input.js"></script>
    <link href="/styles/output.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />
    <link href="/styles/common.css" rel="stylesheet" />