<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ADD CSS HERE -->
    <link rel="icon" href="/img/logo.svg" type="image/svg" />
    <title>CoolSpot</title>
    <!-- Load Scripts and Components -->
    <link rel="stylesheet" href="/client/src/components/switch-style.css" />
    <script defer src="/client/src/components/switch.js"></script>
    <script defer src="/client/src/components/input.js"></script>
  </head>
  <body>